name: Run CI Tests
on:
  pull_request:
    paths-ignore:
      - "README.md"
  push:
    branches:
      - "main"
    paths-ignore:
      - "README.md"
jobs:
  run-lint:
    timeout-minutes: 10
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: hashicorp/setup-golang@36878950ae8f21c1bc25accaf67a4df88c29b01d # v3
        with:
          version-file: go.mod
      - uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: v2.7.1
          skip-cache: true
          args: --timeout=9m
  run-copywrite:
    timeout-minutes: 10
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: hashicorp/setup-copywrite@32638da2d4e81d56a0764aa1547882fc4d209636 # v1.1.3
      - name: verify copywrite headers
        run: |
          copywrite --config .copywrite.hcl headers --spdx "MPL-2.0" --plan
  run-tests:
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
          - ubuntu-24.04
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: hashicorp/setup-golang@36878950ae8f21c1bc25accaf67a4df88c29b01d # v3
        with:
          version-file: go.mod
      - name: Run Go Test
        run: |
          make test
permissions:
  contents: read
