name: Run CI Tests
on: [push]
env:
  GOBIN: /opt/bin
  GO_VERSION: 1.21.7
jobs:
  run-tests:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - uses: magnetikonline/action-golang-cache@777394c89f8ed6fcf1649505277c46c1cd06494d # v4
        with:
          go-version: ${{env.GO_VERSION}}
      - name: Run Go Tests
        run: |
          make test
